body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit';
}
.header{
    height: 6.25rem;
}

.header div div a{
    text-decoration: none;
    color: white;
}

.pointer {
    cursor: pointer;
}

.right-header {
    margin-left: auto;
}

.right-header div a {
    text-decoration: none;
}

.logo {
    width: 170px;
    height: 3.5rem;
}

.landingYellowButton {
    width: 12.5rem;
    height: 3.4375rem;
    background: #D57A00;
    border: 4px solid #D49D00;
    box-sizing: border-box;
    box-shadow: 0px 7px 24px rgba(223, 167, 0, 0.25);
    border-radius: 8px;
}

.home {
    background-image: url('../img/homeWeb.png');
    background-size: cover;
    height: 56.25rem;
    width: 100%;
    margin: 0;
    padding: 0;
}