/* Padding */
.p0 {
    padding: 0;
}
.pt-32{
    padding-top: 32px;
}
.pt-10{
    padding-top: 10px;
}
.pr-60 {
    padding-right: 60px;
}
.pt-48 {
    padding-top: 48px;
}
.pt-24 {
    padding-top: 24px;
}
.pt-60 {
    padding-top: 60px;
}
.pt-100 {
    padding-top: 100px;
}
/* Margin */
.m0 {
    margin: 0;
}

.mr-50 {
    margin-right: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-14 {
    margin-top: 14px;
}

.mainContainer {
    width: 1200px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

/* flex */
.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyEnd {
    justify-content: flex-end;
}

.itemsCenter {
    align-items: center;
}

.gap-33 {
    gap: 33px;
}

.gap-16 {
    gap: 16px;
}